body{
 background-image: url('image/landscape.jpg');
 background-attachment: fixed;
 background-size: cover;
 color: black;
 font-family: 'Indie Flower', 'cursive', 'Arial black';
 font-size: 100%;
}
.nav-tabs {
  border-bottom: 1px solid black;
  margin: 5px;
}
.nav-link.active {
  border-color: #000000 #000000 !important;
  border-bottom-color: rgb(205,205,140, 1) !important;
  color: #000000!important;
  background-color: transparent!important;
}
.nav-link:hover {
  border: none!important;
} 
a{
  color: maroon;
}
a:hover {
  color: red;
}
.row, h2{
  text-align: center;
  justify-content: center;
}
.projet{
  width: 100%;
}
.lore, .projet div{
max-width: 100%;
margin: 5px;
border: 3px rgba(0, 0, 0, 0.4) solid;
background-color: rgb(10,10,10,0.2);
}
.projet div{
  height: 200px;
}
h2, h3{
  font-weight: bold;
}
form input, form textarea{
  width: 50%;
  margin: 5px;
}
.none a{
  color: black;
}
.none a:hover{
  color: red;
}